body{
    margin: 0;
    padding: 0;
    background-color: rgb(50, 70, 107);
    color: crimson;
    text-align: center;
}
.container{
    width: 100%;
    margin:auto;
}
.flag{
    margin-top: 100px;
}
.green{
    width: 50%;
    margin:auto;
    height: 400px;
    background-color: green;
    position: relative;
    left: 25%;
    transform:  translate(-50%,0);
}
.red{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%,50%);
}
h1{
    background-color: rgb(25, 211, 218);
    padding: 2px;
    margin: 50px;
    color: rgb(179, 37, 167);
  }
